*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #CCFFFF;
}

.logo {
    margin-top: 3rem;
    margin-left: 2rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    min-height: 600px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    position: relative;
    z-index: 2;
}

.menu {
    display: block;
    margin-top: 4rem;
    width: 70%;
    font-family: Verdana;
    font-weight: bold;
}

.menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 2rem;
}

.menu li {
    color: #fff;
    text-decoration: none;
    font-family: arial;
    font-size: 20px;
}

.menu_link {
    padding: 5px 8px;
}